<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Chat | Bocadillo + socket.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/static/styles.css"
    />
  </head>
  <body>
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="message" autocomplete="off" /><button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      /*
        Remake of the socket.io chat tutorial.
        See: https://socket.io/get-started/chat
      */

      /*
      NOTE: socket.io would connect to "localhost/" by default.
      We need to specify the path under which the socket.io server has been
      made available by the Bocadillo application.
      See: https://socket.io/docs/client-api/#With-custom-path
      */
      const socket = io({ path: "/sio/socket.io" });

      socket.on("connect", () => {
        console.log("A user is connected!");
      });
      socket.on("disconnect", () => {
        console.log("User has disconnected.");
      });

      const formEl = document.getElementById("form");
      const messageEl = document.getElementById("message");
      const messageList = document.getElementById("messages");

      formEl.onsubmit = event => {
        event.preventDefault();
        socket.emit("message", messageEl.value);
        messageEl.value = "";
        return false;
      };

      socket.on("response", message => {
        console.log("response:", message);
        const li = document.createElement("li");
        li.innerText = message;
        messageList.appendChild(li);
      });
    </script>
  </body>
</html>
